body {
    background-color:  rgb(15, 23, 42);
    font-family: 'Avenir', sans-serif;
    color: rgb(148 163 184);  
    padding: 50px; 
}

.sidebar {
    width: 30%;
    float: left;
}

.column {
    width: 60%;
    float: right;
  }

.title {
    color:rgb(241, 240, 234);
    font-weight: bold;
}

h1 {
    color: rgb(241, 240, 234);
}