body {
    background-color:  rgb(15, 23, 42);
    font-family: 'Avenir', sans-serif;
    font-size: larger;
    color: rgb(148 163 184);  
    padding: 50px; 
}

.sidebar {
    width: 35%;
    float: left;
    margin-right: 50px;
}

.head {
    font-size: 50px;
    line-height: 1;
}

.column {
    width: 60%;
    float:left;
    
  }

.shift {
    width: 60%;
    margin-left: 125px;
    
}

.title {
    color:rgb(241, 240, 234);
}

.title2 {
    color: rgb(148 163 184);
    font-size: 14px;

}

.title3 {
    color: rgb(241, 240, 234);
    font-weight: lighter;
    margin-left: 20px;
}

.title4 {
    color: rgb(241, 240, 234);
    font-weight: lighter;
    margin-left: 45px;
}

.title5 {
    color: rgb(241, 240, 234);
    font-weight: lighter;
    margin-left: 125px;
}

h1 {
    color: rgb(241, 240, 234);
}

.bottom {
    margin-bottom: 100px;
}