body {
    background-color:  rgb(15, 23, 42);
    font-family: 'Avenir', sans-serif;
    color: rgb(148 163 184);
    
}

.sidebar {
    width: 30%;
    float: left;
}

.column {
    width: 600px;
    float: right;
  }

h1 {
    color: rgb(242, 247, 244);
}